table.table {
    table-layout: fixed;
    width: 49em;
}

#top{
    margin-top: 1em;
    margin-bottom: 1em;
}

table.jour {
    table-layout: fixed;
    width: 49em;
}

#jour{
    height: 1em;

}

#calendar{
    height: 7em;
}

#buttonUpdate{
    border: 0.1em solid #3a48c8;
    /*border-top: 0.1em solid #3a48c8;
    border-radius:0;*/
font-size: 75%;
text-align: left;
    width: 100%;
}

td#calendrier{
    padding:0;
}